<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <ul class="navbar-nav ">
            <li class="nav-item active">
                <a class="nav-link text-light "  href="/user/list">Utilisateur</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-light "  href="/event/list">Evenement</a>
            </li>
        </ul>
    </nav>
    <br>
    <h3>Formulaire création d'évènement</h3>
    <br>
    <form id="formEvent">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Libellé</label>
            <div class="col-sm-9">
                <input id="libelle" name="test" type="text"  class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Date début</label>
            <div class="col-sm-9">
                <input id="debut" name="debut" type="date" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Date fin</label>
            <div class="col-sm-9">
                <input id="fin" name="fin" type="date" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Lieu</label>
            <div class="col-sm-9">
                <input id="adresse" name="adresse" type="text" class="form-control">
            </div>
        </div>

        <!--  row avec le bouton posant problème  -->

        <div class="row">
            <p class="col-9"></p>
            <button type="submit" class="col-2 btn btn-primary btn-sm" >Valider</button>
            <p class="col-1"></p>
        </div>
    </form>
</div>

<script>

  if(document.referrer == 'http://localhost:1337/event/create'){

    alert ("L'adresse saisie n'est pas valide.")

  }
  const TheForm = document.getElementById("formEvent");

  TheForm.addEventListener("submit", (e) =>{

    //annule la prise en main vers une url impossible à manipuler
    e.preventDefault();
    const libelle = document.getElementById("libelle").value;
    const debut = document.getElementById("debut").value;
    const fin = document.getElementById("fin").value;
    const adresse = document.getElementById("adresse").value;
    const  myUrl = "/event/createAddress/" + libelle + "/" + debut + "/" + fin + "/" + adresse;
    //alert affichant l'url concaténer
    // alert (myUrl);
    window.location.replace(myUrl);


  });
</script>

</body>
</html>


