<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


    <form method="post" action="UserController.toto">
        <div id="floating"><nav id="formulaire1">
                <input type="text" name="pseudo" required></nav></br>
        </div>
            <nav id="formulaire2"><input type="text" name="MotDePasse" required></nav>



    </form>
    <div id="taille"><img src="URL vers image" alt=""></div>


    <nav id="bouton">
        <input type="submit" value="se connecter">
    </nav>
</body>
</html>
