<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h3>Ajouter un utilisateur à l'évènement "<%= libelle %>"</h3>

    <!-- liste des utilisateurs potentiels -->
    <form id="formEvent" >
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" >Utilisateur</label>
            <div class="col-sm-9" >
                <select id="selectList" name= "idUser"  >
                    <!<% for(var i=0; i<collectionUser.length; i++) {%>
                        <option value = "<%= collectionUser[i].id %>"><%= collectionUser[i].first_name %><p> </p><%= collectionUser[i].last_name %></option>
                    <% } %>
                </select>
            </div>
        </div>
        <!-- Fin liste utilisateurs-->
        <div class="row">
            <p class="col-6"></p>
            <button type="submit" class="col-2 btn btn-primary btn-sm" >Valider</button>
            <p class="col-1"></p>
            <button class="col-2 btn btn-primary btn-sm" ><link href="/">Annuler</button>
            <p class="col-1"></p>
        </div>

    </form>
</div>
</body>
</html>
