<html>

<!-- col grid system13323-->

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h3>Formulaire création d'utilisateur</h3>
        <br>
        <form id="myForm">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Nom</label>
                <div class="col-sm-9">
                    <input name="last_name" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Prénom</label>
                <div class="col-sm-9">
                    <input name="first_name" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Age</label>
                <div class="col-sm-9">
                    <input name="age" type="number" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Mail</label>
                <div class="col-sm-9">
                    <input name="mail" type="text" class="form-control">
                </div>
            </div>
            <div class="row">
                <p class="col-6"></p>
                <button type="submit" class="col-2 btn btn-primary btn-sm" >Valider</button>
                <p class="col-1"></p>
                <button class="col-2 btn btn-primary btn-sm" ><a href="/"></a>Annuler</button>
                <p class="col-1"></p>
            </div>
        </form>
    </div>
</body>
</html>
